.outer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 80px;
  padding: 10px;
}

.logo {
  height: 75%;
}

.l-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: inherit;
}

app-search {
  width: 35%;
}
