<header>
  <div class="inner-header">

    <div class="l-header">
      <img src="./../assets/imgs/logo.png" alt="" class="logo">
      <app-search></app-search>
    </div>

    <ul class="r-header">

      <li><a href="#">Sell On Etsy</a></li>
      <li><a href="#">Register</a></li>
      <li><a href="#" class="sign-in">Sign in</a></li>
      <li class="header-icon">
        <span><img src='./../../assets/imgs/discover.png'></span>
        <span>Discover</span>
      </li>
      <li class="header-icon">
        <span><img src='./../../assets/imgs/cart.png'></span>
        <span>Cart</span>
      </li>
    </ul>

  </div>
</header>
