@import "./../variables.scss";


.outer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 80px;
  padding: 10px;
}

.logo {
  height: 75%;
}

.l-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: inherit;
}

.r-header {
  display: flex;
  align-items: center;
  li {
    a {
      padding: 8px; 
      white-space: nowrap;
    }
  }
  .sign-in {
    border: 1px solid $dark;
    border-radius: 3px;
  }
  .sign-in:hover {
    background-color: $darkHover;
    color: white;
  }
}

app-search {
  width: 35%;
}
