@import "./../variables.scss";
header {
  border-bottom: 1px solid #E1E3DF;
}


.inner-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 80px;
  padding: 15px;

  max-width: 1400px;
  margin: 0 auto;
}

.logo {
  height: 75%;
}

.l-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: inherit;
  app-search {
    width: 35%;
  }
}

.r-header {
  display: flex;
  align-items: center;
  li {
    a {
      padding: 8px;
      white-space: nowrap;
    }
  }
  .sign-in {
    border: 1px solid $dark;
    border-radius: 3px;
    margin-right: 20px;
  }
  .sign-in:hover {
    background-color: $darkHover;
    color: white;
  }
}

.header-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 1px solid rgba(0,0,0, .25);

  padding: 0px 15px;
  img {
    height: 36px;
  }
}
