<div class="outer-header">

  <div class="l-header">
    <img src="./../assets/imgs/logo.png" alt="" class="logo">
    <app-search></app-search>
  </div>

  <ul class="r-header">

    <li><a href="#">Sell On Etsy</a></li>
    <li><a href="#">Register</a></li>
    <li><a href="#" class="sign-in">Sign in</a></li>
    <!-- <app-icon-link [src]='./..assets/imgs/discover.png' [text]='Discover'></app-icon-link>
    <app-icon-link [src]='./..assets/imgs/cart.png' [text]='Cart'></app-icon-link> -->
  </ul>

</div>
