@import "./../variables.scss";

nav {
  border-bottom: 1px solid $lightBorder;
}

.inner {
  max-width: 1400px;
  margin: 0 auto;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 10px;
}
