section {
  display: flex;

  max-width: 1400px;

  margin: 0 auto;
  padding: 5px;

  ul {
    width: 33%;
    li {
      padding: 10px;
    }
    li:nth-child(1n + 2):hover {
      background-color: lightgreen;
    }
  }
}
